<% if @user.errors.any? %> <!--@userに対してエラーが発生しているかどうかの条件式-->
  <div id="error_explanation">
    <div class="alert alert-danger">
      入力エラーが<%= @user.errors.count %>件ありました。 <!--エラーが発生している場合エラー件数、エラーと表示-->
    </div>
    <ul>
    <% @user.errors.full_messages.each do |msg| %> <!--繰り返し処理でエラーメッセージをエラーの数だけ表示する-->
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>